<section>
    <h1 style="text-align: center;">JWT - BCrypt - MongoDB - </h1>

    <body>
        <div class="home-box">
            <a class="home btn" href="register">Register</a>
            <a class="home btn" href="login">Login</a>
            <a class="home btn" href="/">Home</a>
        </div>
<br>
        <div>
            <h2>Users</h2>
            {{#each Users}}
                <h2>{{email}}</h2>
            {{/each}}
        </div>



    </body>
</section>