<section>
    <h2 style="text-align: center;">Profile</h2> 

    <h2>{{email}}</h2>
    <br><br>

    <form action="/logout" method="GET">
        <button class="btn" style="float: right; margin-right: 100px">Logout</button>
    </form>
</section>